* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-size: 14px;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.6em;
}
.nova-mono-regular {
  font-family: "Nova Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

header{
    /* border: 2px solid; */
    padding: 25px 80px;
    /* display: flex; */
    /* justify-content: center; */
}
.header{
    display: flex;
    justify-content: space-between;
}
.navigation-main{
    width: 70%;
    /* align-content: end; */
    /* text-align: right; */
}
#logo-container{
    width: 30%;
}
.logo img{
    max-height: 100px;
    max-width: 400px;
}
.navigation-main{
    /* display: flex; */
    width: 70%;
    align-content: center;
}
.nav-menu{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    /* gap: 30px; */
    font-size: .85em;
    align-content: center;
    /* text-align: left; */
}
/* font-style of nav */
.nav-menu{
    /* font-family:r; */
    font-size: .85em;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 2em;
}
.nav-menu>li:first-child{
    color: grey;
}
.nav-menu>li{
    margin-left: 30px;
    font-size: .85em;
}
.section-one{
    background: url(https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510764242245-JIWZSYBY8CYHZBOEUGAM/Ray+Romano+Loft+renovation+nyc+brooklyn+hamptons+luxury+construction.jpg?format=2500w)no-repeat center center fixed;
}
.section-two{
    background: url(https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510765722553-76QEADJUAJRSEYMGLNSA/Ray+Romano+Contracting+combination+renovation+luxury+contemporary+Upper+East+Side+NYC+Hamptons+Brooklyn+NJ.jpg?format=2500w)no-repeat center center fixed;
}
.section-three{
    background: url(https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510766494470-KZDDR11SFE43N4RHTCLR/Ray+Romano+Hamptons+Sag+Harbor+renovation.jpg?format=2500w)no-repeat center center fixed;
}
.section-four{
    background: url(https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1511367750555-BQMOKM1VBYO8IKWMX44W/1040.JPG?format=2500w)no-repeat center center fixed;
}
.section-five{
    background: url(https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510767064224-MG3QKU4EG3Y4TCIEHUZQ/Custom+Closet+Ray+Rompano+Contracting+NYC+Brooklyn+Upper+east+Side+NYC+renovation.jpg?format=2500w)no-repeat center center fixed;
}
.parralex-item{
    /* height: 980px; */
    position: relative;
    /* background-color: blue; */
}
.title-desc-wrapper{
    position: relative;
    padding: 80px;
    padding-top: 233px;
    min-height: 100vh;
    margin: 0%;
    max-width: 100%;
}
.title-desc-inner{
    margin: 0%;
    max-width:65%;
    position: relative;
}
.page-title-wrapper{
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.6);;
    display: inline;
    width: auto;
    max-width: 100%;
}
.page-title{
    letter-spacing: 0.179487em;
    color: #171717;
}
h1.page-title{
    font-family: 'Proxima Nova', 'Source Sans Pro';
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.6em;
    /* align-content: center; */
    text-transform: uppercase;
    line-height: 1em;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
    margin: 0%;
    position: relative;
    z-index: inherit;
}
.page-desc{
    color: #171717;
    background-color: rgba(255, 255, 255, 0.83);
    padding: 15px 20px;
    display: inline-block;
    margin: 25px 0 0;
    position: relative;
    z-index: inherit;
}
.page-desc p{
    margin: 0%;
    font-family: 'proxima-nova';
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.6em;
    position: relative;
    color: #171717;
    z-index: inherit;
}
p{
    display: block;
}
.content{
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 50;
}
.content-inner{
    padding: 100px 8%;
    background-color: #fff;
    max-width: 85%;
    margin: 0 auto;
}
.sqs-layout>.sqs-row{
    margin-left: 17px;
    margin-right: 17px;
}
.sqs-row{
    width: auto !important;
}
.sqs-row::before,.sqs-row::after{
    content: "";
    display: table;
}
.sqs-row::after{
    clear: both;
}
.sqs-col:last-child{
    padding-right: 0;
    float: left;
}
.sqs-col{
    width: 100%;
}
.sqs-block-content{
    padding: 0 17px 0 17px;
    clear: none;
    position: relative;
    height: auto;
}
.sqs-html-content{
    word-wrap: break-word;
}
h1{
    font-family: 'proxima-nova';
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: 1.2em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.gallery{
    height: 900px;
    width:100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-content: center;
}
.gallery>div>img{
     /* border: 2px solid red; */
    height:200px;
    width: 300px;
    align-content: center;
}